.characterContainer, .vehiclesContainer, .planetsContainer{
    display: flex;
    overflow-y:scroll ;
    flex-direction: row;
    
}

.btnDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-img{
    object-fit: cover;
    height: 300px;
}

.card{
    min-width: 300px;
    margin: 3px;
    /* background-image: url("http://www.solofondos.com/wp-content/uploads/2015/11/depositphotos_137939182-stock-illustration-vector-abstract-background-with-open.jpg"); */
    background-image: url("https://e7.pngegg.com/pngimages/531/729/png-clipart-star-wars-desktop-stormtrooper-space-blue-atmosphere.png");
    color: white;
    box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
    0px 2px 4px rgba(0,255,255,0.5), 
    0px 4px 8px rgba(0,255,255,0.5), 
    0px 8px 16px rgba(0,255,255,0.5);
}

.card-body{
    padding: none;
}


.navbar{
background: #000;
box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
0px 2px 4px rgba(0,255,255,0.5), 
0px 4px 8px rgba(0,255,255,0.5), 
0px 8px 16px rgba(0,255,255,0.5);

}

h1{
    color: white;
}
body{
    /* background-image: url("http://www.solofondos.com/wp-content/uploads/2015/11/depositphotos_137939182-stock-illustration-vector-abstract-background-with-open.jpg"); */
    background-color: #000;
    padding: 3px;
}

.logo{
    width: 11rem;
    height: 6rem;
    object-fit: cover;
    /* box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
    0px 2px 4px rgba(0,255,255,0.5), 
    0px 4px 8px rgba(0,255,255,0.5), 
    0px 8px 16px rgba(0,255,255,0.5); */
    /* border-radius: 35%; */

}
.icono{
    width:1.25rem;
    height:1.25rem;
}
.card-body .botonicono{
    border-color: aliceblue;
    background-color: #78c1be;
    border-radius: 50%;
    margin: 10px;
    width: unset;
    
    
}
.card-body .botoniconoLiked{
    border-color: aliceblue;
    background-color: rgb(186, 36, 36);
    border-radius: 50%;
    margin: 10px;
    width: unset;
}
.botonicono:hover {
    background-color: #2edce5;
    color: #ede5e5;
    transform: translateY(-7px);
}
.btn {
    /* width: 70px; */
    height: 45px;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 900;
    color: #000;
    background-color: #78c1be;
    border: none;
    border-radius: 11px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    outline: none;
    }
  
  .btn:hover {
    background-color: #2edce5;
    box-shadow: 0px 15px 20px rgba(155, 241, 240, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .icono2{
    width:1.25rem;
    height:1.25rem;
}

.profileCard{
    width: auto;
    display: flex;
    position: relative;
}
.profileCard2{
    background-color: #000;
    color: #fff;
}
.dropdown-toggle{
    border-radius: 13px;
    color: #f5ecec;
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.latercera.com%2Fmouse%2Fstar-wars-fondos-videollamadas%2F&psig=AOvVaw2qWTSqgJCIzW091VW7YPII&ust=1680390086158000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCLCjnIOjh_4CFQAAAAAdAAAAABAE");
    /* background-image: url("https://e7.pngegg.com/pngimages/531/729/png-clipart-star-wars-desktop-stormtrooper-space-blue-atmosphere.png"); */
}
.dropdown-menu{
    border-radius: 5px;
}
/* .dropdown-toggle:hover{
    background-color: #2edce5;
    box-shadow: 0px 15px 20px rgba(155, 241, 240, 0.4);
    color: #ede5e5;
    transform: translateY(-7px);
} */

.imgPlanets{
    background-image: url('http://cdn.playbuzz.com/cdn/16c54ffe-46be-49f9-849e-cfbbada9632c/d0e004ea-bcf5-46ff-8411-77ecda58b2de.jpg')
}

.itemNavbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;

}

.a{
    color: #d6c6c6;
}

.emptyNavbar{
    display: flex;
    justify-content: center;
}