/* 
    General Styles
*/
.characterContainer, .vehiclesContainer, .planetsContainer{
    display: flex;
    flex-direction: row;
}
.cardSize{
    width: 25rem;
    margin: 5px;
}
.logo{
    width: 6rem;
    height: 5rem;
    object-fit: cover;
}
