/* 
    General Styles
*/
.characterContainer, .vehiclesContainer, .planetsContainer{
    display: flex;
    flex-direction: row;
}

.cardSize{
    width: 18rem;
}
.logo{
    width: 6rem;
    height: 5rem;
    object-fit: cover;
}